In [1]:
# importaciones
import pandas as pd
import numpy as np

import os
import sys

ruta = r"c:\Users\antonio\Desktop\Proyecto_Final_Data\src"  # Ruta a src
sys.path.append(ruta)  
import sp_limpieza

from sp_limpieza import limpiar_nombres_columnas

In [2]:
# carga y lectura de archivos(categories)
ruta = "../data/data_raw/categories.csv"
df_categories_raw = pd.read_csv(ruta)

In [3]:
#creamos copia entes empezar la limpieza y transformacion
df_categories = df_categories_raw.copy()

In [4]:
print(df_categories.shape)  # Devuelve (filas, columnas)
df_categories.info() # Muestra informacion general
df_categories.head() # Muestra las primeras filas

(11, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    11 non-null     int64
 1   CategoryName  11 non-null     object
dtypes: int64(1), object(1)
memory usage: 308.0+ bytes

   CategoryID CategoryName
0           1  Confections
1           2   Shell fish
2           3      Cereals
3           4        Dairy
4           5    Beverages

In [5]:
# ver valores unicos
print("Valores únicos antes de la limpieza:")
print(df_categories["CategoryID"].unique())
print(df_categories["CategoryName"].unique())

Valores únicos antes de la limpieza:
[ 1  2  3  4  5  6  7  8  9 10 11]
['Confections' 'Shell fish' 'Cereals' 'Dairy' 'Beverages' 'Seafood' 'Meat'
 'Grain' 'Poultry' 'Snails' 'Produce']

In [6]:
df_categories = limpiar_nombres_columnas(df_categories)
df_categories.head()

   Category_Id Category_Name
0            1   Confections
1            2    Shell fish
2            3       Cereals
3            4         Dairy
4            5     Beverages

In [7]:
df_categories.describe().T

             count  mean       std  min  25%  50%  75%   max
Category_Id   11.0   6.0  3.316625  1.0  3.5  6.0  8.5  11.0

In [8]:
df_categories["Category_Name"].value_counts()

Category_Name
Confections    1
Shell fish     1
Cereals        1
Dairy          1
Beverages      1
Seafood        1
Meat           1
Grain          1
Poultry        1
Snails         1
Produce        1
Name: count, dtype: int64

In [9]:
df_categories.to_csv("../data/data_limpios/categories_clean.csv", index=False)