In [10]:
# importaciones
import pandas as pd
import numpy as np

import os
import sys

ruta = r"c:\Users\antonio\Desktop\Proyecto_Final_Data\src"  # Ruta a src
sys.path.append(ruta)  
import sp_limpieza

from sp_limpieza import limpiar_nombres_columnas 
from sp_limpieza import valores_unicos

In [11]:
# carga y lectura de archivos(countries)
ruta = "../data/data_raw/countries.csv"
df_countries_raw = pd.read_csv(ruta)

In [12]:
#creamos copia entes empezar la limpieza y transformacion
df_countries = df_countries_raw.copy()

In [13]:
print(df_countries.shape)  # Devuelve (filas, columnas)
df_countries.info() # Muestra informacion general
df_countries.head() # Muestra las primeras filas

(206, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryID    206 non-null    int64
 1   CountryName  206 non-null    object
 2   CountryCode  205 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

   CountryID CountryName CountryCode
0          1     Armenia          AN
1          2      Canada          FO
2          3      Belize          MK
3          4      Uganda          LV
4          5    Thailand          VI

In [14]:
# aqui vemos donde esta ese nulo y que es la unica columna de australia...
print(df_countries[df_countries["CountryCode"].isnull()])
print(df_countries[df_countries["CountryName"] == "Australia"])

     CountryID CountryName CountryCode
145        146   Australia         NaN
     CountryID CountryName CountryCode
145        146   Australia         NaN

In [15]:
df_countries = limpiar_nombres_columnas(df_countries)
df_countries.head()

   Country_Id Country_Name Country_Code
0           1      Armenia           AN
1           2       Canada           FO
2           3       Belize           MK
3           4       Uganda           LV
4           5     Thailand           VI

In [16]:
df_countries.describe().T

            count   mean        std  min    25%    50%     75%    max
Country_Id  206.0  103.5  59.611241  1.0  52.25  103.5  154.75  206.0

In [18]:
df_countries.to_csv("../data/data_limpios/countries_clean.csv", index=False)