In [3]:
# importaciones
import pandas as pd
import numpy as np

## Vamos a leer los archivos de uno en uno para ver que tenemos y hacer una primera lectura

In [39]:
# carga y lectura de archivos(categories)
ruta = "../data/data_raw/categories.csv"
df_categories_raw = pd.read_csv(ruta)

print(df_categories_raw.shape)  # Devuelve (filas, columnas)
df_categories_raw.info() # Muestra informacion general
df_categories_raw.head() # Muestra las primeras filas
df_categories_raw.CategoryName.to_list() # Devuelve lista de la columna

(11, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    11 non-null     int64
 1   CategoryName  11 non-null     object
dtypes: int64(1), object(1)
memory usage: 308.0+ bytes

['Confections',
 'Shell fish',
 'Cereals',
 'Dairy',
 'Beverages',
 'Seafood',
 'Meat',
 'Grain',
 'Poultry',
 'Snails',
 'Produce']

In [9]:
# carga y lectura de archivos (cities)
ruta = "../data/data_raw/cities.csv"
df_cities_raw = pd.read_csv(ruta)
df_cities_raw

    CityID        CityName  Zipcode  CountryID
0        1          Dayton    80563         32
1        2         Buffalo    17420         32
2        3         Chicago    44751         32
3        4         Fremont    20641         32
4        5  Virginia Beach    62389         32
..     ...             ...      ...        ...
91      92         Hialeah    34375         32
92      93          Jersey    55355         32
93      94         Yonkers     7430         32
94      95         Garland    73265         32
95      96      Pittsburgh    14257         32

[96 rows x 4 columns]